@tailwind base;
@tailwind components;
@tailwind utilities;

.darkgrey-background {
    background-color : #33415C;
}
.lightgrey-background {
    background-color : #d6d9e0;
}
.active-background {
    background-color : #5C677D;
}
.medgrey-background {
    background-color : #979DAC;
}

.round-top-corners {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
  }
  
.link:hover {
    background-color: #7D8597;
    color: white;
}

.header-text {
    color: #33415C;
    text-shadow: 1px 1px 2px #0466C8 ;
}

.text-color {
    color: #001233;
}
.footer-link {
    color: white;
    background-color: #0353A4;
}
.footer-link:hover {
    background-color: #023E7D;
}
.card {
    border: 4px solid #33415C;
}
.smallImg {
    width: 400px;
    height: 225px;
}
.pic-border {
    border: 4px solid #d6d9e0;
}